#app &>.admin-container > header {

  #site-logo,
  #header-nav {
    @include flexbox;
    @include flex-direction(row);
    @include align-items(center);

    padding: 0.5rem 0;
  }

  #site-logo {
    @include justify-content(center)
  }

  #header-nav {
    background: #fff;

    @include justify-content(flex-end);

    .nav-pills {
      a {
        color: $gray;
        @include hover-focus-active {
          color: $gray-dark;
        }
      }

      .nav-link.active,
      .nav-item.open .nav-link {
        @include plain-hover-focus {
          color: $gray-dark;
          background-color: transparent;
        }
      }
    }
  }

}
