

/* bootstrap override */
$enable-flex: true;

$body-bg: #f0f0f0;

$font-size-root: 14px;

$font-size-h1: 1.8rem;
$font-size-h2: 1.4rem;
$font-size-h3: 1.25rem;
$font-size-h4: 1.15rem;
$font-size-h5: 1.1rem;
$font-size-h6: 1rem;
